{% extends "index.html"%}
{% load staticfiles %}

{% block main %}

    <br>
    <a class="btn btn-primary" href="{%  url 'course:create_student' %}">Nuevo Estudiante</a>
    <br>
    <div>

        <table class="table"s>
            <thead>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
            </thead>

            <tbody>
            {% for stu in student %}
                <tr>
                    <td><p>{{ stu.name }}</p></td>
                    <td><p>{{ stu.last_name }}</p></td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}